<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breaking News!! {{ article.title }}</title>
</head>
<body>
<ul>
   <li>
       <p>Title: {{article.title}}</p>
       <p>Category: {{article.category}}</p>
       <p>Created by: {{article.author}}</p>
       <p>Posted at: {{article.created_at}}</p>
   </li>
</ul>
</body>
</html>